<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.root.hugsdatings">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-feature android:name="android.hardware.camera" />
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- VIDEO_CALL_FLAG_ENABLED_BEGIN -->
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
  <!-- VIDEO_CALL_FLAG_ENABLED_END -->

  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:theme="@style/AppTheme" android:exported="true">

    <!-- VIDEO_CALL_FLAG_ENABLED_BEGIN -->
    <service android:exported="true" android:enabled="true" android:name="io.invertase.firebase.messaging.RNFirebaseBackgroundMessagingService" />
    <service android:exported="true" android:enabled="true" android:name="io.wazo.callkeep.VoiceConnectionService" android:label="Wazo" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
      <intent-filter>
        <action android:name="android.telecom.ConnectionService" />
      </intent-filter>
    </service>
    <service android:exported="true" android:enabled="true" android:name="io.wazo.callkeep.RNCallKeepBackgroundMessagingService" />
    <!-- VIDEO_CALL_FLAG_ENABLED_END -->


    <!-- You will only need to add this meta-data tag, but make sure it's a child of application -->
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCD_v1EJ-dtlcHntoSIGcjdEkqs677T1SA" />
    <!-- You will also only need to add this uses-library tag -->
    <uses-library android:name="org.apache.http.legacy" android:required="false" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
    <activity android:name=".SplashActivity" android:theme="@style/SplashTheme" android:label="@string/app_name" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" android:exported="true"></activity>
    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
  </application>
</manifest>